*.beam
*.class
*.exe
*.log
*.o
*.obj
*.plt
*.swp
.concrete/DEV_MODE
.eunit
.fetch
.git-credentials
.gitconfig
.gradle
.idea
.mix
.rebar
/priv/Gammadyne/timer.txt
/src_elixir/deps/
/src_elixir/mix.lock
/src_go/pkg/
/src_go/src/
_build
build
erl_crash.dump
erlcinfo
odpi
ora_bench_bulk_data.csv
ora_bench_c.properties
ora_bench_erlang.properties
ora_bench_java.jar
ora_bench_kotlin.jar
ora_bench_python.properties
rebar.lock
tmp
