*.beam
*.class
*.exe
*.log
*.o
*.plt
*.swp
.concrete/DEV_MODE
.eunit
.rebar
/.gradle/
/priv/Gammadyne/timer.txt
_build/
deps
ebin/*.beam
erl_crash.dump
odpi/
ora_bench.jar
ora_bench_bulk_data.csv
ora_bench_c.properties
ora_bench_erlang.properties
ora_bench_python.properties
rebar.lock
rel/example_project
test/bin/*
tmp/
