/*.log
/.classpath
/.gradle/
/.idea/
/.project
/.settings/
/bin/
/lang/*/.classpath
/lang/*/.gradle/
/lang/*/.project
/lang/*/.settings/
/lang/*/_build/
/lang/*/bin/
/lang/*/build/
/lang/*/gradle/wrapper/
/lang/*/gradlew
/lang/*/gradlew.bat
/lang/elixir/deps/
/lang/elixir/mix.lock
/lang/erlang/rebar.lock
/lang/go/OraBench
/lang/go/OraBench.exe
/lang/go/orabench
/lang/go/pkg/
/lang/rust/Cargo.lock
/lang/rust/target/
/lib/kotlin-*.jar
/ora_bench.iml
/priv/libs/ora_bench_java.jar
/priv/libs/ora_bench_kotlin.jar
/priv/ora_bench_bulk_data.csv
/priv/ora_bench_result.tsv
/priv/properties/ora_bench_*.properties
/tmp/
