{erl_opts, [debug_info]}.
{deps, []}.

{pre_hooks, [{compile, "make -f java_src/Makefile"}
]}.

{post_hooks, [{clean, "make -f java_src/Makefile clean"}
]}.

{profiles, [
    {test, [
        {deps, [
            {oranif, {git, "https://github.com/c-bik/oranif", {tag, "0.2.2"}}},
            {jamdb_oracle, {git, "https://github.com/c-bik/jamdb_oracle", {branch, master}}}
        ]},
        {dist_node, [{setcookie, 'testcookie'}, {sname, 'testnode'}]}
    ]}
]}.
