{erl_opts, [no_debug_info]}.
{deps, [{oranif, {git, "https://github.com/c-bik/oranif", {branch, master}}}]}.

{escript_incl_apps,
 [orabench]}.
{escript_main_app, orabench}.
{escript_name, orabench}.
{escript_emu_args, "%%! +sbtu +A1\n"}.

%% Profiles
{profiles, [{test,
             [{erl_opts, [debug_info]}
            ]}]}.
